.chatForm {
    position: fixed;
    bottom: 0;
    left: 30%;
    width: calc(70% - 2rem);
    height: 2rem;
    padding: 1rem;
    background-color: rgb(154 161 167 / 21%);
}

.chatForm input {
    width: calc(100% - 6rem);
    background-color: white;
    margin: 0;
}

.chatForm button {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
}

.chatForm button svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.chatForm button:hover {
    transform: translateY(-50%);
}