.search {
    position: relative;
    width: 50%;
    height: 35px;
    border-radius: 100px;
    overflow: hidden;
}

.search input {
    width: 100%;
    height: 100%;
    color: #9ca0a1;
    border: none;
    background-color: #eaf0f3;
    margin: auto;
    display: block;
    padding-inline: 3rem;
}

.search input::placeholder {
    color: #9ca0a1;
}

.search input:focus {
    outline-width: 0;
}

.search svg {
    position: absolute;
    top: 26%;
    left: 2%;
    background-color: transparent;
    border: none;    
    color: #9ca0a1;
}