.btn {
    font-size: 1em;
    cursor: pointer;
    padding: 0.8rem 1rem;
    border-radius: 15px;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
}

.btn:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.btn:active {
    box-shadow: none;
    transform: translateY(0);
}

.primary {
    background-color: #019765;
    border: 2px solid #019765;
    color: white;
    font-weight: 600;
}

.secondary {
    font-weight: 300;
    background-color: transparent;
    border: 1px solid #019765;
    color: #019765;
}

.secondary:hover {
    color: white;
    background-color: #019765;
}

.ghost {
    font-weight: 300;
    background-color: transparent;
    border: none;
    color: #019765;
}


.ghost:hover {
    color: white;
    background-color: #019765;
}