.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-weight: 300;
}

.nav li {
    display: flex;
    gap: 1rem;
    padding-block: 1rem;
    padding-left: 1rem;
    font-size: 1.1em;
}

.nav li:first-child {
    padding-block: 1rem;
    font-size: 1em;
}

.nav li:hover,
.active {
    background-color: #334;
    color: #00cd8a;
}

.nav a {
    text-decoration: none;
    color: inherit;
}

.nav p {
    margin: 0;
    cursor: pointer;
}

.nav svg {
    font-size: 1.5rem;
}

.separator {
    position: relative;
}

.separator::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    margin: 0;
    background-color: #958c9958;
}

.title {
    padding-block: 0.5rem;
    color: #00cd8a;
}

.title p {
    margin: 0;
    font-weight: 500;
}

.price {
    display: grid!important;
    padding-left: 0.5rem!important;
    padding-right: 0.5rem!important;
    grid-template-columns: 45% 5% 45%;
    gap: 0.5rem!important;
    align-items: center;
    justify-items: center;
}

.price input {
    color: #9ca0a1;
    width: 60%;
    border: 1px solid #9ca0a1;
    background-color: #eaf0f3;
    padding: 0.5rem 1rem;
    border-radius: 10px;
}

@media only screen and (max-height: 800px) {
    .nav li:first-child {
        padding-block: 0.8rem;
    }

    .nav li {
        padding-block: 0.6rem;
    }

    .nav svg {
        font-size: 1.2rem;
    }
}