.btnArrowBack {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    height: 1rem;
    margin-top: 1.3rem;
    padding: 0.5rem;
    color: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #2d2d2d;
}