.form {
    padding: 1rem;
}

.form h1 {
    margin: 0;
    margin-bottom: 0.5rem;
    font-size: 1.5em;
}

.form a {
    display: inline-block;
    margin-top: 1rem;
}

.control input,
.control select,
.control textarea {
    color: #9ca0a1;
    border: 1px solid #9ca0a1;
    width: calc(100% - 4rem);
    background-color: transparent;
    padding: 1rem 1.5rem;
    margin-bottom: 1.2rem;
    border-radius: 10px;
}

.control select {
    width: calc(100% - 1rem);
}

.control input::placeholder,
.control select::placeholder,
.control textarea::placeholder {
    color: #9ca0a1;
}

.control input:focus {
    outline-width: 0;
}

.control label {
    color: #73797a;
}
  
.block {
    display: inline-block;
    max-width: 15rem;
}

.alignEnd {
    float: right;
}

@media only screen and (max-height: 700px) {
    .control input {
        margin-bottom: 1rem;
        padding-block: 0.5rem;
    }
}